<div class="nav">
    <div class="pt-3">
        <img alt="Logo pizzeria" src="~/img/logo.png" id="logo" />
    </div>
    <ul class="list-unstyled mt-5">
        <li><a class="fs-4 fw-bold my-4 d-block link" href="/">Home</a></li>
        <li><a class="fs-4 fw-bold my-4 d-block link" href="/Home/UserIndex">Menu</a></li>
    </ul>
    <ul class="list-unstyled pb-5 mt-auto">
        <li><i class="my-3 fs-4 fa-solid fa-user"></i></li>
        <li><i class="my-3 fs-4 fa-solid fa-power-off"></i></li>
    </ul>
</div>