@{
    Layout = "_Layout";
    ViewData["Title"] = "Dettaglio Prodotto";
}

<div class="container">
    <div class="d-flex my-5 gap-3 align-items-center justify-content-start">
        <a href="/" class=" back"> < </a>
        <h2 class="m-0">Nome della pizza</h2>
    </div>
    
    <div class="row row-cols-2 justify-content-between align-items-center">
        <div>
            <img src="~/img/margherita.jpg" class="img-fluid" />
            <div class="d-flex aling-items-center gap-5 mt-5 justify-content-between">
                <div class="infoCard fs-3 fw-bold">Numeri ordini</div>
                <div class="infoCard fs-3 fw-bold">Votazione</div>
                <div class="infoCard fs-3 fw-bold">Prezzo</div>
            </div>
        </div>
        <p class="text-center"><em>Descizione della pizza</em></p>
    </div>

</div>