@{
    Layout = "_UserLayout";
    ViewData["Title"] = "Pizzeria";
}

<section id="menu" class="text-center">
    <h2>Trova la tua deliziosa pizza</h2>
    <h3 class="mt-3">Menu</h3>
    <div class="d-flex align-items-center justify-content-center">
        <div class="vertical-arrow"> > </div>
    </div>
    <div class="container">
        <ul class="row row-cols-3 align-items-center justify-content-center list-unstyled">
            <li class="col">
                <div class="myCard">
                    <img src="~/img/margherita.jpg" class="img-fluid" />
                    <h3 class="my-4 fs-3 fw-bold">Nome Pizza</h3>
                    <p>Ingredienti</p>
                    <div class="d-flex justify-content-center gap-5 align-items-center">
                        <q>Prezzo</q>
                        <a class="myBtn ordina">Ordina</a>
                    </div>
                </div>
                
            </li>
            <li class="col">
                <div class="myCard">
                    <img src="~/img/margherita.jpg" class="img-fluid" />
                    <h3 class="my-4 fs-3 fw-bold">Nome Pizza</h3>
                    <p>Ingredienti</p>
                    <div class="d-flex justify-content-center gap-5 align-items-center">
                        <q>Prezzo</q>
                        <a class="myBtn ordina">Ordina</a>
                    </div>
                </div>

            </li>
            <li class="col">
                <div class="myCard">
                    <img src="~/img/margherita.jpg" class="img-fluid" />
                    <h3 class="my-4 fs-3 fw-bold">Nome Pizza</h3>
                    <p>Ingredienti</p>
                    <div class="d-flex justify-content-center gap-5 align-items-center">
                        <q>Prezzo</q>
                        <a class="myBtn ordina">Ordina</a>
                    </div>
                </div>

            </li>
        </ul>
    </div>
    
</section>
