@{
    ViewData["Title"] = "Esercizi Razor";
}

<div class="text-center mt-5 card">
    <strong>
        1. Dichiarare una variabile valorizzandola con il nostro nome.
        Dichiarare un'altra variabile valorizzandola con il nostro cognome.
        Stampare il nostro nome e cognome all'interno di un tag h2.
    </strong>

    @{
        string nome = "Luca";
        string cognome = "Zanfrisco";
    }
    <h2>@nome @cognome</h2>
</div>

<div class="text-center mt-5 card">
    <strong>
        2. Creare una funzione che stampa la somma dei numeri che vanno da 1 a n (con n passato come parametro - n incluso)
        Stampare dentro uno span il risultato.
    </strong>

    @{
        int SommaN(int n)
        {
            return ((n + 1) * n) / 2;
        }
    }
    <h2>@SommaN(5)</h2>
</div>

<div class="text-center mt-5 card">
    <strong>
        3. Contare quante volte la lettera a è presente nalla frase "nel mezzo del cammin di nostra vita" e stampare questo valore in pagina
    </strong>

    @{
        string frase = "nel mezzo del cammin di vostra vita";

        // Versione compatta 
        int conta = frase.Count(c => c == 'a');

        // Versione Estesa 
        // for(int i = 0; i < frase.Length; i++)
        // {
        //     @if(frase[i]  == 'a')
        //     {
        //         conta++;
        //     }
        // }
    }

    <h2>La lettera "a" nella frase "@frase" è contenuta: @conta volte</h2>
</div>

<div class="text-center mt-5 card">
    <strong>
        4. Creare una List<int> di 20 numeri interi (generati random da 1 a 90, 1 e 90 inclusi) e mostrare in pagina solo i numeri compresi tra 20 e 70
    </strong>

    @{
        List<int> numeriInteri = new List<int>();

        for(int i = 0; i < 20; i++)
        {
            Random rnd = new Random();
            numeriInteri.Add(rnd.Next(1, 91));
        }
    }

    <h2>
    @foreach(int numeri in numeriInteri)
    {
        @if(numeri >= 20 && numeri <= 70)
        {
            <span>@numeri</span>
        }
    }
    </h2>
    
</div>